@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.border1 {
  position: absolute;
  height: 84.85%;
  width: 100%;
  top: 15.15%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--medium-gray);
  box-sizing: border-box;
}
.label1,
.value10 {
  letter-spacing: 0.4px;
}
.value10 {
  position: absolute;
  top: calc(50% - 23px);
  left: 13px;
  line-height: 56px;
}
.label1 {
  position: relative;
  line-height: 18px;
}
.fieldset-label1 {
  position: absolute;
  top: calc(50% - 34px);
  left: 10px;
  background-color: var(--color-aliceblue-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-10xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-200);
}
.caret-down-icon27 {
  position: absolute;
  top: calc(50% - 8px);
  right: 14px;
  width: 19px;
  height: 19px;
}
.mui-select-list {
  position: absolute;
  top: 791px;
  left: 380px;
  width: 376px;
  height: 66px;
  font-size: var(--regular-paragraph-regular-size);
  color: var(--color-gray-100);
}
.frame-child2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-top: 3px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 260px;
  height: 430px;
}
.delinquent-notice {
  position: relative;
  color: var(--color-royalblue);
}
.frame-parent1 {
  position: absolute;
  top: 81px;
  left: 20px;
  height: 324px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 46px;
}
.vector-icon8 {
  position: relative;
  width: 18px;
  height: 16px;
}
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--medium-light-gray);
  box-sizing: border-box;
  width: 260px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  font-size: var(--regular-heading-6-size);
  color: var(--color-black);
}
.rectangle-parent28 {
  position: absolute;
  top: 625px;
  left: 100px;
  width: 260px;
  height: 430px;
  color: var(--color-dimgray-100);
}
.square39 {
  position: relative;
  line-height: 56px;
}
.column50,
.header17 {
  display: flex;
  justify-content: flex-start;
}
.header17 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--medium-light-gray);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-xs);
  align-items: center;
}
.column50 {
  width: 46px;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-dimgray-200);
  font-family: var(--font-font-awesome-6-pro);
}
.filing-period {
  position: relative;
  line-height: 56px;
  font-weight: 600;
}
.header18 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--medium-light-gray);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-xs);
  align-items: center;
  color: var(--color-black);
}
.column51,
.header18,
.row386 {
  display: flex;
  justify-content: flex-start;
}
.row386 {
  text-decoration: none;
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--medium-light-gray);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-xs);
  align-items: center;
  color: inherit;
}
.column51 {
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-royalblue);
}
.underpaid {
  position: relative;
  line-height: 38px;
}
.column52 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header20 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--medium-light-gray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-xs);
  align-items: center;
  justify-content: flex-end;
}
.div326 {
  position: relative;
  line-height: 38px;
  font-weight: 500;
}
.column53,
.column58,
.table4,
.table5 {
  display: flex;
  justify-content: flex-start;
}
.column53 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.column58,
.table4,
.table5 {
  align-items: flex-start;
}
.table4 {
  position: absolute;
  width: calc(100% - 429px);
  top: 240px;
  right: 49px;
  left: 380px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--medium-light-gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  min-width: 1011px;
}
.column58,
.table5 {
  flex-direction: column;
}
.table5 {
  position: absolute;
  width: calc(100% - 429px);
  top: 572px;
  right: 49px;
  left: 380px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--medium-light-gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  min-width: 1011px;
}
.corporate-income-tax {
  position: relative;
  color: var(--color-black);
}
.name-parent {
  height: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.primary-id {
  position: relative;
}
.frame-parent2 {
  position: absolute;
  top: 61px;
  left: 20px;
  height: 372px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) 0 var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}
.vector-icon9 {
  position: relative;
  width: 20px;
  height: 18px;
}
.account-details {
  position: relative;
  letter-spacing: 0.01em;
}
.vector-group {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--medium-light-gray);
  box-sizing: border-box;
  width: 260px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  font-size: var(--regular-heading-6-size);
  color: var(--color-black);
}
.rectangle-parent29 {
  position: absolute;
  top: 175px;
  left: 100px;
  width: 260px;
  height: 430px;
  overflow: hidden;
  color: var(--color-dimgray-100);
}
.group-child46 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: -100%;
  left: 0;
  background-color: var(--white);
}
.priority10 {
  position: absolute;
  top: 31.58%;
  left: 53.19%;
  line-height: 20px;
  font-weight: 300;
}
.switch-child123,
.switch-child124 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--medium-gray);
}
.switch-child124 {
  height: 80.95%;
  width: 34.96%;
  top: 9.52%;
  right: 60.93%;
  bottom: 9.52%;
  left: 4.11%;
  background-color: var(--white);
}
.switch63 {
  position: absolute;
  height: 100%;
  width: 46.81%;
  top: 0;
  right: 53.19%;
  bottom: 0;
  left: 0;
}
.priority-parent7 {
  position: absolute;
  height: 6.62%;
  width: 39%;
  top: 26.83%;
  right: 54.36%;
  bottom: 66.55%;
  left: 6.64%;
}
.id23 {
  position: absolute;
  top: 31.58%;
  left: 78.69%;
  line-height: 20px;
  font-weight: 300;
}
.switch-child125,
.switch-child126 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-royalblue);
}
.switch-child126 {
  height: 80.95%;
  width: 34.96%;
  top: 9.52%;
  right: 4.11%;
  bottom: 9.52%;
  left: 60.93%;
  background-color: var(--white);
}
.id-parent7,
.switch64 {
  position: absolute;
  height: 100%;
  width: 72.13%;
  top: 0;
  right: 27.87%;
  bottom: 0;
  left: 0;
}
.id-parent7 {
  height: 6.62%;
  width: 25.31%;
  top: 18.12%;
  right: 68.05%;
  bottom: 75.26%;
  left: 6.64%;
}
.due-date9 {
  position: absolute;
  top: 31.58%;
  left: 45.45%;
  line-height: 20px;
  font-weight: 300;
}
.switch65 {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  right: 60%;
  bottom: 0;
  left: 0;
}
.due-date-parent7 {
  position: absolute;
  height: 6.62%;
  width: 45.64%;
  top: 35.54%;
  right: 47.72%;
  bottom: 57.84%;
  left: 6.64%;
}
.wf-type9 {
  position: absolute;
  top: 31.58%;
  left: 47.06%;
  line-height: 20px;
  font-weight: 300;
}
.switch66,
.wf-type-parent7 {
  position: absolute;
  height: 100%;
  width: 43.14%;
  top: 0;
  right: 56.86%;
  bottom: 0;
  left: 0;
}
.wf-type-parent7 {
  height: 6.62%;
  width: 42.32%;
  top: 44.25%;
  right: 51.04%;
  bottom: 49.13%;
  left: 6.64%;
}
.wf-subtype9 {
  position: absolute;
  top: 31.58%;
  left: 40%;
  line-height: 20px;
  font-weight: 300;
}
.switch67 {
  position: absolute;
  height: 100%;
  width: 35.2%;
  top: 0;
  right: 64.8%;
  bottom: 0;
  left: 0;
}
.wf-subtype-parent7 {
  position: absolute;
  height: 6.62%;
  width: 51.87%;
  top: 52.96%;
  right: 41.49%;
  bottom: 40.42%;
  left: 6.64%;
}
.domain9 {
  position: absolute;
  top: 31.58%;
  left: 50.51%;
  line-height: 20px;
  font-weight: 300;
}
.domain-parent7,
.switch68 {
  position: absolute;
  height: 100%;
  width: 44.44%;
  top: 0;
  right: 55.56%;
  bottom: 0;
  left: 0;
}
.domain-parent7 {
  height: 6.62%;
  width: 41.08%;
  top: 61.67%;
  right: 52.28%;
  bottom: 31.71%;
  left: 6.64%;
}
.queue-name10 {
  position: absolute;
  top: 31.58%;
  left: 38.17%;
  line-height: 20px;
  font-weight: 300;
}
.switch69 {
  position: absolute;
  height: 100%;
  width: 33.59%;
  top: 0;
  right: 66.41%;
  bottom: 0;
  left: 0;
}
.queue-name-parent8 {
  position: absolute;
  height: 6.62%;
  width: 54.36%;
  top: 70.38%;
  right: 39%;
  bottom: 23%;
  left: 6.64%;
}
.step10 {
  position: absolute;
  top: 26.32%;
  left: 64.1%;
  line-height: 20px;
  font-weight: 300;
}
.step-parent8,
.switch70 {
  position: absolute;
  height: 100%;
  width: 56.41%;
  top: 0;
  right: 43.59%;
  bottom: 0;
  left: 0;
}
.step-parent8 {
  height: 6.62%;
  width: 32.37%;
  top: 79.09%;
  right: 61%;
  bottom: 14.29%;
  left: 6.64%;
}
.status13 {
  position: absolute;
  top: 26.32%;
  left: 55.56%;
  line-height: 20px;
  font-weight: 300;
}
.status-parent8,
.switch71 {
  position: absolute;
  height: 100%;
  width: 48.89%;
  top: 0;
  right: 51.11%;
  bottom: 0;
  left: 0;
}
.status-parent8 {
  height: 6.62%;
  width: 37.34%;
  top: 87.8%;
  right: 56.02%;
  bottom: 5.57%;
  left: 6.64%;
}
.find-column13 {
  position: absolute;
  top: 4px;
  left: 8px;
  line-height: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 89px;
}
.filter-input-child7,
.filter-input9 {
  position: absolute;
  top: 28px;
  left: 0;
  width: 233px;
  height: 0;
}
.filter-input9 {
  height: 9.76%;
  width: 96.68%;
  top: 2.79%;
  right: 1.66%;
  bottom: 87.46%;
  left: 1.66%;
}
.rectangle-parent30 {
  position: absolute;
  height: 521.82%;
  width: 47.91%;
  top: 0;
  right: 52.09%;
  bottom: -421.82%;
  left: 0;
  opacity: 0;
}
.group-child48,
.group-child49 {
  position: absolute;
  width: 95.89%;
  top: 44.66%;
  right: 2.06%;
  left: 2.06%;
  max-width: 100%;
  overflow: hidden;
  height: 0;
}
.group-child49 {
  width: 30.08%;
  right: 67.87%;
}
.filter-value9,
.value11 {
  position: relative;
  line-height: 20px;
  font-weight: 300;
}
.filter-value9 {
  font-size: var(--semi-bold-subtitle-2-size);
}
.value-dropdown9 {
  position: absolute;
  height: 36.89%;
  width: 36.5%;
  top: 6.8%;
  right: 2.06%;
  bottom: 56.31%;
  left: 61.44%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  font-size: var(--font-size-xs);
}
.chevron-right-icon44,
.trash-delete-icon9 {
  position: relative;
  width: 19px;
  height: 19px;
}
.chevron-right-icon44 {
  display: none;
}
.text-button19,
.text-button20 {
  position: absolute;
  height: 39.81%;
  width: 29.82%;
  top: 52.43%;
  right: 4.24%;
  bottom: 7.77%;
  left: 65.94%;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--color-royalblue);
}
.text-button20 {
  width: 28.02%;
  right: 67.99%;
  left: 3.98%;
}
.drop-down-text208,
.drop-down-text209 {
  position: absolute;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text208 {
  top: 4px;
  background-color: var(--color-aliceblue-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop-down-text209 {
  top: 30px;
}
.drop-down-text209,
.drop-down-text210,
.drop-down-text211 {
  background-color: var(--color-aliceblue-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop-down-text210 {
  position: absolute;
  top: 56px;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text211 {
  top: 82px;
}
.drop-down-text211,
.drop-down-text212,
.drop-down-text213 {
  position: absolute;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text212 {
  top: 108px;
  background-color: var(--color-aliceblue-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop-down-text213 {
  top: 134px;
}
.drop-down-text213,
.drop-down-text214,
.drop-down-text215 {
  background-color: var(--color-aliceblue-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop-down-text214 {
  position: absolute;
  top: 160px;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text215 {
  top: 186px;
}
.drop-down-text215,
.drop-down-text216,
.dropdown-content13 {
  position: absolute;
  left: 0;
  width: 109px;
  overflow: hidden;
}
.drop-down-text216 {
  top: 212px;
  background-color: var(--color-aliceblue-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-content13 {
  top: 0;
  background-color: var(--white);
  height: 242px;
  opacity: 0;
}
.id24,
.operator23 {
  position: relative;
  line-height: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 89px;
}
.id24 {
  width: 80px;
  flex-shrink: 0;
}
.caret-down-parent23,
.operator-dropdown13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--semi-bold-subtitle-2-size);
}
.operator-dropdown13 {
  position: absolute;
  height: 84.21%;
  width: 94.5%;
  top: 7.89%;
  right: 2.75%;
  bottom: 7.89%;
  left: 2.75%;
  background-color: var(--white);
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-xs);
}
.operator22 {
  position: absolute;
  height: 36.89%;
  width: 28.02%;
  top: 6.8%;
  right: 69.92%;
  bottom: 56.31%;
  left: 2.06%;
}
.group-child50 {
  position: absolute;
  top: 190px;
  left: 0;
  background-color: var(--white);
  width: 109px;
  height: 190px;
}
.drop-down-text220,
.drop-down-text221,
.drop-down-text222,
.drop-down-text223 {
  position: absolute;
  top: 82px;
  left: 0;
  background-color: var(--color-aliceblue-100);
  width: 109px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.drop-down-text221,
.drop-down-text222,
.drop-down-text223 {
  top: 108px;
}
.drop-down-text222,
.drop-down-text223 {
  top: 134px;
}
.drop-down-text223 {
  top: 160px;
}
.rectangle-parent32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 109px;
  height: 190px;
  opacity: 0;
}
.contain-dropdown13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-xs);
}
.contains35 {
  position: absolute;
  height: 36.89%;
  width: 28.02%;
  top: 6.8%;
  right: 40.62%;
  bottom: 56.31%;
  left: 31.36%;
}
.rectangle-parent31 {
  position: absolute;
  height: 187.27%;
  width: 77.34%;
  top: 0;
  right: 0;
  bottom: -87.27%;
  left: 22.66%;
  opacity: 0;
}
.columns9 {
  position: absolute;
  top: 29.17%;
  left: 32.65%;
  font-size: var(--semi-bold-subtitle-2-size);
  line-height: 38px;
  text-transform: uppercase;
  font-family: var(--light-heading-5);
  color: var(--color-black);
  text-align: left;
}
.view-column-icon9 {
  position: absolute;
  height: 100%;
  width: 24.49%;
  top: 0;
  right: 75.51%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 98px;
  height: 24px;
}
.filters9 {
  position: absolute;
  top: 29.17%;
  left: 38.55%;
  font-size: var(--semi-bold-subtitle-2-size);
  line-height: 38px;
  text-transform: uppercase;
  font-family: var(--light-heading-5);
  color: var(--color-black);
  text-align: left;
}
.filter-list-icon9 {
  position: absolute;
  height: 100%;
  width: 28.92%;
  top: 0;
  right: 71.08%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.filters-parent7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 83px;
  height: 24px;
}
.density9 {
  position: absolute;
  top: 29.17%;
  left: 35.96%;
  font-size: var(--semi-bold-subtitle-2-size);
  line-height: 38px;
  text-transform: uppercase;
  font-family: var(--light-heading-5);
  color: var(--color-black);
  text-align: left;
}
.density-medium-icon9 {
  position: absolute;
  height: 100%;
  width: 26.97%;
  top: 0;
  right: 73.03%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.density-parent7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 89px;
  height: 24px;
}
.export9 {
  position: absolute;
  top: 29.17%;
  left: 38.1%;
  font-size: var(--semi-bold-subtitle-2-size);
  line-height: 38px;
  text-transform: uppercase;
  font-family: var(--light-heading-5);
  color: var(--color-black);
  text-align: left;
}
.file-download-icon9 {
  position: absolute;
  height: 100%;
  width: 28.57%;
  top: 0;
  right: 71.43%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.export-parent7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 84px;
  height: 24px;
}
.group-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-base) var(--padding-base) 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.filter-bar5 {
  position: absolute;
  top: 857px;
  left: 381px;
  width: 503px;
  height: 55px;
}
.column62 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-dimgray-200);
  font-family: var(--font-font-awesome-6-pro);
}
.frame-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-firebrick);
  width: 17px;
  height: 17px;
}
.check-small-icon {
  position: absolute;
  height: 41.47%;
  width: 52.94%;
  top: 31.22%;
  right: 21.72%;
  bottom: 27.31%;
  left: 25.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent33 {
  position: relative;
  width: 17px;
  height: 17px;
}
.row425 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--medium-light-gray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.row-child4 {
  position: relative;
  width: 17.34px;
  height: 17.34px;
}
.column63 {
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header31 {
  color: var(--color-black);
}
.header31,
.row429 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--medium-light-gray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.column64,
.column65,
.column67,
.column68 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.column64 {
  flex: 1;
  color: var(--color-gray-100);
}
.column65,
.column67,
.column68 {
  width: 196px;
}
.column67,
.column68 {
  width: 106px;
}
.column68 {
  width: 152px;
}
.kari-ringo {
  position: relative;
  text-decoration: underline;
  line-height: 38px;
}
.column69,
.table6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column69 {
  width: 112px;
  flex-direction: column;
  color: var(--color-royalblue);
}
.table6 {
  position: absolute;
  width: calc(100% - 429px);
  top: 912px;
  right: 49px;
  left: 380px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--medium-light-gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  min-width: 1011px;
}
.vector-icon10 {
  position: relative;
  width: 18px;
  height: 18px;
}
.vector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.chevron-right-icon46 {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
}
.forecast {
  position: relative;
  letter-spacing: 0.04em;
}
.ioncalendar-icon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.chevron-left,
.text-button21 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chevron-left {
  flex-direction: column;
  padding: 5px;
}
.text-button21 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 119px;
  height: 37px;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-xs);
  gap: var(--gap-9xs);
}
.button40 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
  font-weight: 600;
  display: inline-block;
  min-width: 90px;
}
.button-wrapper4 {
  position: relative;
  width: 85px;
  height: 19px;
}
.secondary-button2 {
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--color-royalblue);
  padding: var(--padding-4xs) var(--padding-xs);
  justify-content: center;
  gap: var(--gap-9xs);
  font-size: var(--regular-paragraph-regular-size);
}
.secondary-button2:hover {
  background-color: var(--color-aliceblue-200);
  border: 1px solid var(--color-aliceblue-200);
  box-sizing: border-box;
}
.frame-parent3,
.secondary-button2,
.text-button-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text-button-parent {
  width: 250px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: var(--gap-3xs);
  font-size: var(--semi-bold-subtitle-2-size);
  color: var(--color-royalblue);
}
.frame-parent3 {
  position: absolute;
  width: calc(100% - 429px);
  top: 178px;
  right: 49px;
  left: 380px;
  border-top: 2px solid var(--color-royalblue);
  box-sizing: border-box;
  padding: var(--padding-xs) 0;
  justify-content: space-between;
  min-width: 1011px;
  font-size: var(--regular-heading-6-size);
}
.ionbriefcase-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.account-inner {
  position: absolute;
  width: calc(100% - 429px);
  top: 507px;
  right: 50px;
  left: 379px;
  border-top: 2px solid var(--color-royalblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) 0;
  align-items: flex-start;
  justify-content: center;
  min-width: 1011px;
  font-size: var(--regular-heading-6-size);
}
.frame-child5 {
  position: relative;
  width: 17.85px;
  height: 16.55px;
}
.group-parent12 {
  position: absolute;
  width: calc(100% - 429px);
  top: 746px;
  right: 50px;
  left: 379px;
  border-top: 2px solid var(--color-royalblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  min-width: 1011px;
  font-size: var(--regular-heading-6-size);
}
.top-blue-bar6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--rsi-blue);
}
.icon12 {
  position: absolute;
  top: 10px;
  left: 91.99px;
  width: 9.99px;
  height: 6.02px;
}
.user-name6 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 24px;
}
.parent25 {
  position: relative;
  width: 101.98px;
  height: 24px;
}
.user-account13 {
  position: absolute;
  top: 0;
  left: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user-account12 {
  position: absolute;
  height: 14.37%;
  width: 178.4%;
  top: 0;
  right: 0;
  bottom: 85.63%;
  left: -78.4%;
}
.account-drop-down-child4,
.dropdown-label-child28 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 125px;
}
.account-drop-down-child4 {
  border-radius: var(--br-8xs);
  height: 143px;
}
.dropdown-label-child28 {
  height: 25px;
}
.dropdown30 {
  position: absolute;
  top: 3px;
  left: 13px;
  line-height: 20px;
  font-weight: 300;
}
.dropdown-label30,
.dropdown-label31,
.dropdown-label32 {
  position: absolute;
  top: 8px;
  left: 0;
  width: 125px;
  height: 25px;
}
.dropdown-label31,
.dropdown-label32 {
  top: 33px;
}
.dropdown-label32 {
  top: 58px;
}
.account-drop-down6,
.dropdown-label33,
.dropdown-label34 {
  position: absolute;
  top: 83px;
  left: 0;
  width: 125px;
  height: 25px;
}
.account-drop-down6,
.dropdown-label34 {
  top: 108px;
}
.account-drop-down6 {
  height: 0.6%;
  width: 100%;
  top: 14.37%;
  right: 0;
  bottom: 85.03%;
  overflow: hidden;
  opacity: 0;
  text-align: left;
  font-size: var(--semi-bold-subtitle-2-size);
  color: var(--color-gray-100);
}
.acct-dropdown-menu6 {
  position: absolute;
  height: 39.06%;
  width: 9.19%;
  top: 31.25%;
  right: 2.94%;
  bottom: 29.69%;
  left: 87.87%;
}
.bookmark-icon6,
.circle-question-icon6 {
  position: absolute;
  height: 25%;
  width: 0.88%;
  top: 35.94%;
  right: 13.9%;
  bottom: 39.06%;
  left: 85.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.circle-question-icon6 {
  width: 1.18%;
  right: 17.13%;
  left: 81.69%;
}
.all6,
.div352 {
  position: absolute;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
}
.all6 {
  top: 0;
  left: 0;
  font-size: var(--semi-bold-subtitle-2-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--light-heading-5);
}
.div352 {
  top: 1px;
  left: 37px;
  font-size: var(--regular-paragraph-regular-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  font-family: var(--font-font-awesome-6-pro);
}
.all-parent4 {
  position: relative;
  width: 47px;
  height: 20px;
}
.input-field10,
.search-inner5,
.search6 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.search-inner5 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-royalblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.input-field10,
.search6 {
  background-color: transparent;
}
.search6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  width: 22.77%;
  right: 0;
  left: 77.23%;
}
.input-field10 {
  border: 1px solid var(--color-royalblue);
  font-family: var(--light-heading-5);
  font-size: var(--regular-paragraph-regular-size);
  width: 74.93%;
  right: 25.07%;
  left: 0;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  padding-left: var(--padding-3xs);
  color: #fff;
}
.quick-search6 {
  position: absolute;
  height: 62.5%;
  width: 25.51%;
  top: 20.31%;
  right: 37.21%;
  bottom: 17.19%;
  left: 37.28%;
}
.revenue20,
.transaction6 {
  position: relative;
  line-height: 20px;
}
.transaction6 {
  color: var(--white);
}
.breadcrumbs6 {
  position: absolute;
  top: calc(50% - 11px);
  left: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--semi-bold-subtitle-2-size);
  color: var(--medium-light-gray);
}
.application-header-v36 {
  position: fixed;
  width: calc(100% - 80px);
  top: 0;
  right: 0;
  left: 80px;
  height: 64px;
  min-width: 1360px;
  text-align: center;
  font-size: var(--regular-paragraph-regular-size);
  color: var(--white);
}
.paper-level-3,
.paper-level-3-child {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.paper-level-3-child {
  height: 100%;
  bottom: 0;
  background-color: var(--white);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.2);
}
.paper-level-3 {
  height: 92px;
  min-width: 1360px;
}
.error-icon1 {
  position: relative;
  width: 22px;
  height: 19.25px;
}
.error-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper4 {
  position: relative;
  width: 38px;
  height: 34px;
}
.error2,
.this-is-an1 {
  position: relative;
  line-height: 20px;
}
.error2 {
  letter-spacing: 0.01em;
  font-weight: 600;
  display: none;
}
.this-is-an1 {
  font-size: var(--semi-bold-subtitle-2-size);
}
.error-group {
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.alert-info,
.group-parent13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.alert-info {
  border-radius: var(--br-9xs);
  background-color: var(--color-mistyrose);
  border: 1px solid var(--color-firebrick);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.warning-icon1 {
  position: relative;
  width: 22.02px;
  height: 19.25px;
}
.group-parent14 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.alert-info-parent,
.alert-info1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.alert-info1 {
  border-radius: var(--br-9xs);
  background-color: var(--color-blanchedalmond);
  border: 1px solid var(--color-darkgoldenrod);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-base);
  color: var(--color-darkgoldenrod);
}
.alert-info-parent {
  position: absolute;
  top: 24px;
  right: 41px;
  flex-direction: row;
  gap: var(--gap-5xs);
  min-width: 294px;
  font-size: var(--regular-paragraph-regular-size);
  color: var(--color-firebrick);
}
.bit {
  position: absolute;
  top: 26px;
  left: 0;
  line-height: 20px;
  color: var(--color-gray-100);
}
.type-parent {
  position: relative;
  width: 30px;
  height: 46px;
}
.account-id {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 300;
}
.account-id-parent {
  position: relative;
  width: 76px;
  height: 46px;
}
.div354 {
  position: absolute;
  top: 26px;
  left: 0;
  line-height: 20px;
  color: var(--color-black);
}
.balance-parent {
  position: relative;
  width: 63px;
  height: 46px;
}
.ssn-9782 {
  position: absolute;
  top: 26px;
  left: 0;
  text-decoration: underline;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-royalblue);
}
.entity-id-parent {
  position: relative;
  width: 104px;
  height: 46px;
}
.frame-parent4 {
  position: absolute;
  top: 26px;
  left: 362px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.icon13 {
  position: absolute;
  top: 41px;
  left: 278px;
  width: 24px;
  height: 32px;
}
.revenue-account-header-child {
  position: absolute;
  top: 25px;
  left: 299px;
  border-radius: 50%;
  background-color: var(--color-royalblue);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 22px;
  height: 22px;
}
.div357 {
  position: absolute;
  top: 27px;
  left: 306px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
  text-align: center;
}
.back-to-previous4 {
  position: absolute;
  top: 53px;
  left: 32px;
  line-height: 20px;
  color: var(--color-royalblue);
}
.account8 {
  position: absolute;
  top: 24px;
  left: 32px;
  font-size: var(--light-heading-5-size);
  font-weight: 300;
}
.revenue-account-header {
  position: fixed;
  width: calc(100% - 80px);
  top: 59px;
  right: 0;
  left: 80px;
  height: 92px;
  overflow: hidden;
  min-width: 1360px;
  color: var(--rsi-blue);
}
.property12 {
  position: absolute;
  top: 70.83%;
  left: 17.5%;
  font-size: var(--semi-bold-subtitle-2-size);
  line-height: 20px;
  font-weight: 300;
  font-family: var(--light-heading-5);
  color: var(--white);
  text-align: center;
}
.property-module-shield12 {
  position: absolute;
  height: 50%;
  width: 52.5%;
  top: 16.67%;
  right: 23.75%;
  bottom: 33.33%;
  left: 23.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.property-module10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 302px;
  left: 0;
  width: 80px;
  height: 96px;
}
.property-module10:hover .top-blue-bar6,
.revenue-module10:hover .revenue-module-child8 {
  background-color: var(--color-gray-100);
}
.revenue-module-child8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-aliceblue-100);
  border: 1px solid var(--rsi-blue);
  box-sizing: border-box;
}
.revenue21 {
  position: absolute;
  top: 70.83%;
  left: 16.25%;
  font-size: var(--semi-bold-subtitle-2-size);
  line-height: 20px;
  font-family: var(--light-heading-5);
  color: var(--rsi-blue);
  text-align: center;
}
.revenue-module10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 206px;
  left: 0;
  width: 80px;
  height: 96px;
}
.revenue-module10:hover .revenue21 {
  color: var(--color-white-100);
}
.adv-search-button-child8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.div358 {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.adv-search-button10,
.dashboard-button10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 142px;
  left: 20px;
  width: 40px;
  height: 40px;
}
.adv-search-button10:hover .div358 {
  color: var(--color-royalblue);
}
.adv-search-button10:hover .adv-search-button-child8 {
  background-color: var(--white);
}
.dashboard-button10 {
  top: 70px;
}
.dashboard-button10:hover .div358 {
  color: var(--color-royalblue);
}
.dashboard-button10:hover .adv-search-button-child8 {
  background-color: var(--white);
  width: 40px;
  height: 40px;
}
.rev-x-logo-svg10 {
  position: absolute;
  top: 0;
  left: 12px;
  width: 56px;
  height: 21.85px;
}
.main-navigation10 {
  position: relative;
  width: 80px;
  height: 398px;
}
.div360 {
  position: absolute;
  top: 27.5%;
  left: 25%;
  font-size: var(--light-heading-5-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.bookmarks-button10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 40px;
  height: 40px;
}
.bookmarks-button10:hover .div360 {
  color: var(--color-royalblue);
}
.bookmarks-button10:hover .adv-search-button-child8 {
  background-color: var(--white);
}
.blue-nav-bar10 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--rsi-blue);
  width: 80px;
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-lgi) 0 var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.tenant-navigation-drawers-cop4 {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 80px;
  height: 800px;
  overflow: hidden;
}
.account6 {
  position: relative;
  background-color: var(--color-aliceblue-100);
  width: 100%;
  height: 1274px;
  overflow: auto;
  text-align: left;
  font-size: var(--semi-bold-subtitle-2-size);
  color: var(--color-black);
  font-family: var(--light-heading-5);
}
.property-drawer-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 240px;
  height: 800px;
}
.batches2,
.div244 {
  position: relative;
  line-height: 20px;
}
.batches2 {
  flex: 1;
  text-decoration: underline;
  font-weight: 600;
}
.div244 {
  font-size: var(--semi-bold-subtitle-2-size);
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
}
.single-item13 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.navigation-stack-child14 {
  position: relative;
  border-top: 1px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 209px;
  height: 1px;
}
.entity-management5 {
  align-self: stretch;
  font-size: var(--regular-paragraph-regular-size);
  font-weight: 600;
  color: var(--gray);
}
.create-asset9,
.div246,
.entity-management5 {
  position: relative;
  line-height: 20px;
}
.create-asset9 {
  text-decoration: underline;
  display: flex;
  align-items: center;
  width: 171px;
  flex-shrink: 0;
}
.div246 {
  font-family: var(--font-font-awesome-6-pro);
}
.create-entity7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.create-asset10,
.group7 {
  width: 208px;
  gap: var(--gap-base);
}
.create-asset10 {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.group7 {
  font-size: var(--semi-bold-subtitle-2-size);
  color: var(--white);
}
.group7,
.navigation-stack2,
.scrollable-pane2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-stack2 {
  gap: var(--gap-base);
}
.scrollable-pane2 {
  position: absolute;
  top: 128px;
  left: 16px;
  height: 672px;
  overflow-y: auto;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  text-align: left;
  color: var(--color-aliceblue-200);
}
.recently-used2 {
  position: relative;
  line-height: 20px;
}
.chip-active4,
.chip-active5 {
  position: absolute;
  top: 72px;
  border-radius: var(--br-base);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-smi);
}
.chip-active4 {
  left: 115px;
  border: 1px solid var(--color-royalblue);
}
.chip-active5 {
  left: 14px;
  background-color: var(--rsi-blue);
}
.search-field3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 208px;
  height: 40px;
}
.start-typing3 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 17.5px;
}
.start-typing-wrapper1 {
  position: absolute;
  top: 11px;
  left: 11px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field6 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 208px;
  height: 40px;
}
.property-drawer1 {
  position: absolute;
  top: 0;
  left: 80px;
  width: 240px;
  height: 800px;
}
.property-module-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.div250,
.property7 {
  position: absolute;
  font-weight: 300;
  text-align: center;
}
.div250 {
  top: 29.17%;
  left: 35%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--color-gray-100);
}
.property7 {
  top: 70.83%;
  left: 17.5%;
  font-size: var(--semi-bold-subtitle-2-size);
  line-height: 20px;
  font-family: var(--light-heading-5);
  color: var(--white);
}
.property-module-shield7 {
  position: absolute;
  height: 50%;
  width: 52.5%;
  top: 16.67%;
  right: 23.75%;
  bottom: 33.33%;
  left: 23.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.property-module6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 302px;
  left: 0;
  width: 80px;
  height: 96px;
}
.revenue-module-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-aliceblue-100);
  border: 1px solid var(--rsi-blue);
  box-sizing: border-box;
}
.revenue12 {
  position: absolute;
  top: 70.83%;
  left: 16.25%;
  font-size: var(--semi-bold-subtitle-2-size);
  line-height: 20px;
  font-family: var(--light-heading-5);
  color: var(--rsi-blue);
  text-align: center;
}
.revenue-module6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 206px;
  left: 0;
  width: 80px;
  height: 96px;
}
.revenue-module6:hover .revenue-module-child4 {
  background-color: var(--color-gray-100);
}
.revenue-module6:hover .revenue12 {
  color: var(--color-white-100);
}
.adv-search-button-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.div251 {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.adv-search-button6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 142px;
  left: 20px;
  width: 40px;
  height: 40px;
}
.adv-search-button6:hover .adv-search-button-child4 {
  background-color: var(--white);
}
.adv-search-button6:hover .div251 {
  color: var(--color-royalblue);
}
.dashboard-button-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.div252 {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.dashboard-button6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 70px;
  left: 20px;
  width: 40px;
  height: 40px;
}
.dashboard-button6:hover .dashboard-button-child4 {
  background-color: var(--white);
}
.bookmarks-button6:hover .div253,
.dashboard-button6:hover .div252 {
  color: var(--color-royalblue);
}
.rev-x-logo-svg6 {
  position: absolute;
  top: 0;
  left: 12px;
  width: 56px;
  height: 21.85px;
}
.main-navigation6 {
  position: relative;
  width: 80px;
  height: 398px;
}
.div253 {
  position: absolute;
  top: 27.5%;
  left: 25%;
  font-size: var(--light-heading-5-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.bookmarks-button6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 40px;
  height: 40px;
}
.bookmarks-button6:hover .dashboard-button-child4 {
  background-color: var(--white);
}
.blue-nav-bar6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--rsi-blue);
  width: 80px;
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-lgi) 0 var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.tenant-navigation-drawers-pr1 {
  position: relative;
  width: 320px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
  text-align: center;
  font-size: var(--regular-paragraph-regular-size);
  color: var(--white);
  font-family: var(--light-heading-5);
}
.tenant-navigation-drawers-pr1.animate,
.tenant-navigation-drawers-reve1.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
@media screen and (max-width: 1200px) {
  .blue-nav-bar6 {
    position: fixed;
  }
}
.revenue-drawer-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 240px;
  height: 800px;
}
.mask-group-icon1 {
  position: absolute;
  top: 752px;
  left: 0;
  width: 240px;
  height: 48px;
}
.batches3,
.div254 {
  position: relative;
  line-height: 20px;
}
.batches3 {
  flex: 1;
  text-decoration: underline;
  font-weight: 600;
}
.div254 {
  font-size: var(--semi-bold-subtitle-2-size);
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
}
.single-item17 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.navigation-stack-child18 {
  position: relative;
  border-top: 1px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 209px;
  height: 1px;
}
.configuration1 {
  align-self: stretch;
  position: relative;
  font-size: var(--regular-paragraph-regular-size);
  line-height: 20px;
  font-weight: 600;
  color: var(--gray);
}
.generate-id-configuration1 {
  position: relative;
  text-decoration: underline;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 171px;
  flex-shrink: 0;
}
.div256 {
  position: relative;
  line-height: 20px;
  font-family: var(--font-font-awesome-6-pro);
}
.frame6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame7,
.group8 {
  width: 208px;
  gap: var(--gap-base);
}
.frame7 {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.group8 {
  font-size: var(--semi-bold-subtitle-2-size);
  color: var(--white);
}
.group8,
.navigation-stack3,
.scrollable-pane3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-stack3 {
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-base);
}
.scrollable-pane3 {
  position: absolute;
  top: 128px;
  left: 16px;
  height: 672px;
  overflow-y: auto;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
  text-align: left;
  color: var(--color-aliceblue-200);
}
.recently-used3 {
  position: relative;
  line-height: 20px;
}
.chip-active6,
.chip-active7 {
  position: absolute;
  top: 72px;
  border-radius: var(--br-base);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-smi);
}
.chip-active6 {
  left: 115px;
  border: 1px solid var(--color-royalblue);
}
.chip-active7 {
  left: 14px;
  background-color: var(--rsi-blue);
}
.search-field4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 208px;
  height: 40px;
}
.start-typing4 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 17.5px;
}
.start-typing-wrapper2 {
  position: absolute;
  top: 11px;
  left: 11px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field7,
.revenue-drawer1 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 208px;
  height: 40px;
}
.revenue-drawer1 {
  top: 0;
  left: 80px;
  width: 240px;
  height: 800px;
}
.property-module-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--rsi-blue);
}
.property8 {
  position: absolute;
  top: 70.83%;
  left: 17.5%;
  font-size: var(--semi-bold-subtitle-2-size);
  line-height: 20px;
  font-weight: 300;
  font-family: var(--light-heading-5);
  color: var(--white);
  text-align: center;
}
.property-module-shield8 {
  position: absolute;
  height: 50%;
  width: 52.5%;
  top: 16.67%;
  right: 23.75%;
  bottom: 33.33%;
  left: 23.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.property-module7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 302px;
  left: 0;
  width: 80px;
  height: 96px;
}
.property-module7:hover .property-module-child5,
.revenue-module-child5 {
  background-color: var(--color-gray-100);
}
.revenue-module-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.revenue-module7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 206px;
  left: 0;
  width: 80px;
  height: 96px;
}
.adv-search-button-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.div278 {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.adv-search-button7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 142px;
  left: 20px;
  width: 40px;
  height: 40px;
}
.adv-search-button7:hover .adv-search-button-child5 {
  background-color: var(--white);
}
.adv-search-button7:hover .div278 {
  color: var(--color-royalblue);
}
.dashboard-button-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.div279 {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.dashboard-button7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 70px;
  left: 20px;
  width: 40px;
  height: 40px;
}
.dashboard-button7:hover .dashboard-button-child5 {
  background-color: var(--white);
}
.bookmarks-button7:hover .div280,
.dashboard-button7:hover .div279 {
  color: var(--color-royalblue);
}
.rev-x-logo-svg7 {
  position: absolute;
  top: 0;
  left: 12px;
  width: 56px;
  height: 21.85px;
}
.main-navigation7 {
  position: relative;
  width: 80px;
  height: 398px;
}
.div280 {
  position: absolute;
  top: 27.5%;
  left: 25%;
  font-size: var(--light-heading-5-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.bookmarks-button7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 40px;
  height: 40px;
}
.bookmarks-button7:hover .dashboard-button-child5 {
  background-color: var(--white);
}
.blue-nav-bar7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--rsi-blue);
  width: 80px;
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-lgi) 0 var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.tenant-navigation-drawers-reve1 {
  position: relative;
  width: 320px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
  text-align: center;
  font-size: var(--regular-paragraph-regular-size);
  color: var(--white);
  font-family: var(--light-heading-5);
}
@media screen and (max-width: 1200px) {
  .blue-nav-bar7 {
    position: fixed;
  }
}
