@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.cancel-icon {
  position: relative;
  width: 19px;
  height: 19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button17 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--component-alert-title-size);
  letter-spacing: 0.04em;
  font-weight: 600;
  font-family: var(--light-heading-3);
  color: var(--color-firebrick);
  text-align: left;
}
.button-container,
.chevron-right-icon21 {
  position: relative;
  width: 53px;
  height: 19px;
}
.chevron-right-icon21 {
  width: 19px;
  display: none;
}
.secondary-button {
  cursor: pointer;
  border: 1px solid var(--color-firebrick);
  padding: var(--padding-4xs) var(--padding-xs);
  background-color: var(--white);
  position: absolute;
  top: 739px;
  left: 192px;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.secondary-button:hover {
  background-color: var(--color-mistyrose);
  border: 1px solid var(--color-mistyrose);
  box-sizing: border-box;
}
.button18 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--component-alert-title-size);
  letter-spacing: 0.04em;
  font-weight: 600;
  font-family: var(--light-heading-3);
  color: var(--color-green);
  text-align: left;
}
.button-frame {
  position: relative;
  width: 66px;
  height: 19px;
}
.secondary-button1 {
  cursor: pointer;
  border: 1px solid var(--color-green);
  padding: var(--padding-4xs) var(--padding-xs);
  background-color: var(--white);
  position: absolute;
  top: 739px;
  left: 67px;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.secondary-button1:hover {
  background-color: var(--color-beige);
  border: 1px solid var(--color-beige);
  box-sizing: border-box;
}
.radial-shadow-icon {
  position: absolute;
  top: 681px;
  left: 16px;
  width: 328px;
  height: 42px;
}
.work-id {
  position: relative;
  line-height: 22px;
  font-weight: 600;
}
.witm147399799 {
  position: relative;
  font-size: var(--regular-heading-5-size);
  color: var(--color-darkslategray);
}
.id-header {
  height: 55px;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.a-description-that,
.description {
  align-self: stretch;
  position: relative;
}
.description {
  line-height: 22px;
  font-weight: 600;
}
.a-description-that {
  font-size: var(--component-alert-title-size);
  letter-spacing: 0.01em;
  line-height: 24px;
  color: var(--color-darkslategray);
}
.description-parent,
.entity-name-parent {
  align-self: stretch;
  height: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.entity-name-parent {
  height: 42px;
}
.not-set {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  color: var(--color-darkslategray);
}
.status-parent3 {
  align-self: stretch;
  height: 38px;
  gap: var(--gap-5xs);
}
.contents,
.status-parent3,
.work-detail-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.work-detail-content {
  align-self: stretch;
  height: 758px;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.contents {
  position: absolute;
  top: 32px;
  left: 16px;
  width: 328px;
  height: 691px;
  overflow-y: auto;
  scrollbar-width: 10px;
}
.button19 {
  position: relative;
  font-size: var(--semi-bold-subtitle-2-size);
  letter-spacing: 0.04em;
  font-family: var(--light-heading-3);
  color: var(--color-royalblue);
  text-align: left;
}
.cancel-icon1 {
  position: relative;
  width: 19px;
  height: 19px;
}
.text-button10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xs);
  background-color: transparent;
  position: absolute;
  top: 16px;
  left: 223px;
  border-radius: var(--br-9xs);
  height: 41px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.approvals-work-detail-flyout {
  position: relative;
  background-color: var(--white);
  width: 360px;
  height: 100%;
  opacity: 0;
  max-width: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--semi-bold-subtitle-2-size);
  color: var(--rsi-blue);
  font-family: var(--light-heading-3);
}
.approvals-work-detail-flyout.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
