@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.property-drawer-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 240px;
  height: 800px;
}
.batches5,
.div328 {
  position: relative;
  line-height: 20px;
}
.batches5 {
  flex: 1;
  text-decoration: underline;
  font-weight: 600;
}
.div328 {
  font-size: var(--semi-bold-subtitle-2-size);
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
}
.single-item35 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.navigation-stack-child44 {
  position: relative;
  border-top: 1px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 209px;
  height: 1px;
}
.entity-management8 {
  align-self: stretch;
  font-size: var(--component-alert-title-size);
  font-weight: 600;
  color: var(--gray);
}
.create-asset25,
.div330,
.entity-management8 {
  position: relative;
  line-height: 20px;
}
.create-asset25 {
  text-decoration: underline;
  display: flex;
  align-items: center;
  width: 171px;
  flex-shrink: 0;
}
.div330 {
  font-family: var(--font-font-awesome-6-pro);
}
.create-entity19 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.create-asset26,
.group18 {
  width: 208px;
  gap: var(--gap-base);
}
.create-asset26 {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.group18 {
  font-size: var(--semi-bold-subtitle-2-size);
  color: var(--white);
}
.group18,
.navigation-stack5,
.scrollable-pane5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-stack5 {
  gap: var(--gap-base);
}
.scrollable-pane5 {
  position: absolute;
  top: 128px;
  left: 16px;
  height: 672px;
  overflow-y: auto;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  text-align: left;
  color: var(--color-aliceblue-200);
}
.recently-used5 {
  position: relative;
  line-height: 20px;
}
.chip-active10,
.chip-active11 {
  position: absolute;
  top: 72px;
  border-radius: var(--br-base);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-smi);
}
.chip-active10 {
  left: 115px;
  border: 1px solid var(--color-royalblue);
}
.chip-active11 {
  left: 14px;
  background-color: var(--rsi-blue);
}
.search-field7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 208px;
  height: 40px;
}
.start-typing7 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 17.5px;
}
.start-typing-wrapper5 {
  position: absolute;
  top: 11px;
  left: 11px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field10 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 208px;
  height: 40px;
}
.property-drawer2 {
  position: absolute;
  top: 0;
  left: 80px;
  width: 240px;
  height: 800px;
}
.property-module-child8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.div334,
.property12 {
  position: absolute;
  font-weight: 300;
  text-align: center;
}
.div334 {
  top: 29.17%;
  left: 35%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--color-gray-100);
}
.property12 {
  top: 70.83%;
  left: 17.5%;
  font-size: var(--semi-bold-subtitle-2-size);
  line-height: 20px;
  font-family: var(--light-heading-3);
  color: var(--white);
}
.property-module-shield12 {
  position: absolute;
  height: 50%;
  width: 52.5%;
  top: 16.67%;
  right: 23.75%;
  bottom: 33.33%;
  left: 23.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.property-module10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 302px;
  left: 0;
  width: 80px;
  height: 96px;
}
.revenue-module-child8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-aliceblue-100);
  border: 1px solid var(--rsi-blue);
  box-sizing: border-box;
}
.revenue19 {
  position: absolute;
  top: 70.83%;
  left: 16.25%;
  font-size: var(--semi-bold-subtitle-2-size);
  line-height: 20px;
  font-family: var(--light-heading-3);
  color: var(--rsi-blue);
  text-align: center;
}
.revenue-module10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 206px;
  left: 0;
  width: 80px;
  height: 96px;
}
.revenue-module10:hover .revenue-module-child8 {
  background-color: var(--color-gray-100);
}
.revenue-module10:hover .revenue19 {
  color: var(--color-white-100);
}
.adv-search-button-child8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.div335 {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.adv-search-button10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 142px;
  left: 20px;
  width: 40px;
  height: 40px;
}
.adv-search-button10:hover .adv-search-button-child8 {
  background-color: var(--white);
}
.adv-search-button10:hover .div335 {
  color: var(--color-royalblue);
}
.dashboard-button-child8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue);
}
.div336 {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: var(--regular-heading-6-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.dashboard-button10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 70px;
  left: 20px;
  width: 40px;
  height: 40px;
}
.dashboard-button10:hover .dashboard-button-child8 {
  background-color: var(--white);
}
.bookmarks-button10:hover .div337,
.dashboard-button10:hover .div336 {
  color: var(--color-royalblue);
}
.rev-x-logo-svg10 {
  position: absolute;
  top: 0;
  left: 12px;
  width: 56px;
  height: 21.85px;
}
.main-navigation10 {
  position: relative;
  width: 80px;
  height: 398px;
}
.div337 {
  position: absolute;
  top: 27.5%;
  left: 25%;
  font-size: var(--regular-heading-5-size);
  letter-spacing: 0.4px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-font-awesome-6-pro);
  color: var(--white);
  text-align: center;
}
.bookmarks-button10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 40px;
  height: 40px;
}
.bookmarks-button10:hover .dashboard-button-child8 {
  background-color: var(--white);
}
.blue-nav-bar10 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--rsi-blue);
  width: 80px;
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-lgi) 0 var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.tenant-navigation-drawers-pr2 {
  position: relative;
  width: 320px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
  text-align: center;
  font-size: var(--component-alert-title-size);
  color: var(--white);
  font-family: var(--light-heading-3);
}
.tenant-navigation-drawers-pr2.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
@media screen and (max-width: 1200px) {
  .blue-nav-bar10 {
    position: fixed;
  }
}
